@model AspnetNote.Models.User
<h2>Register</h2>

<form class="form-horizontal" method="post" asp-controller="Account" asp-action="Register">
	<div class="form-group">
		<label>User ID</label>
		<input type="text" class="form-control" asp-for="UserId" placeholder="User ID enter"/>
	</div>
	
	<div class="form-group">
		<label>User Security Number</label>
		<input type="text" class="form-control" asp-for="UserPassword" placeholder="User security number enter"/>
	</div>
	
	<div class="form-group">
		<label>User Name</label>
		<input type="text" class="form-control" asp-for="UserName" placeholder="User name enter"/>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary">Register</button>
		<a class="btn btn-warning" href="#">Cancel</a>
	</div>
</form>